{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}


    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">

                    {% include('partiels/_messageFlashes.html.twig') %}


                    {{ form_start(formForgotPassword) }}

                    <span class="login100-form-title">
                        Mot de passe oublié
                    </span>

                    <div class="container-input text-center">

                        <p>Saisir votre Email pour réinitialiser votre mot de passe :</p>
                        {{ form_widget(formForgotPassword.email)}}

                    </div>

                    <div class="container-login100-form-btn my-5">
                        <button class="login100-form-btn" type="submit">
                            Envoyer le nouveau mot de passe
                        </button>
                    </div>

                    {{ form_end(formForgotPassword) }}

                    <a href="{{ path('app_login') }}" class="btn btn-secondary mb-5" title="Retour">Retour à la page de connexion</a>

                </div>

                <div class="login100-more"></div>
            </div>
        </div>
    </div>

{% endblock %}
