{% extends 'baseMain.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('question') }}
{% endblock %}

{% block content %}
{#    FIXME: Mettre la card dans un partiel quand on mettre la boucle FOR!#}
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <div class="badge badge-success">Niveau 1</div>
                <div class="badge badge-danger">Sécurité Alimentaire</div>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Titre des questions</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda autem consectetur earum error ex impedit in inventore, nemo quis, repellendus repudiandae sed tempora tempore voluptatibus. Exercitationem, magni, quos! Iure..</p>
                <div class="text-center">
                    <div class="text-muted">Dernier passage : {{ '-15 days'|date('d/m/Y') }}</div>
                    <div>Résultat : 80 %</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn btn-outline-info w-100">Commencer le questionnaire</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="badge badge-success">Niveau 1</div>
                <div class="badge badge-danger">Sécurité Alimentaire</div>
            </div>
            <div class="card-body">
                <div class="card-title">Titre des questions</div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cumque dicta esse magnam quisquam reprehenderit? Consequatur, doloribus laudantium magnam maxime necessitatibus, omnis quae qui quo quos ratione reprehenderit soluta unde.</p>
                <div class="text-muted">Dernier passage : {{ '-15 days'|date('d/m/Y') }}</div>
                <div>Résultat : 80 %</div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info w-100">Commencer le questionnaire</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="badge badge-success">Niveau 1</div>
                <div class="badge badge-danger">Sécurité Alimentaire</div>
            </div>
            <div class="card-body">
                <div class="card-title">Titre des questions</div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur dolor doloremque modi necessitatibus omnis quas recusandae sed veritatis. Aliquam aut dicta exercitationem natus necessitatibus? Animi corporis dolorem eius et.</p>
                <div class="text-muted">Dernier passage : {{ '-15 days'|date('d/m/Y') }}</div>
                <div>Résultat : 80 %</div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info w-100">Commencer le questionnaire</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="badge badge-success">Niveau 1</div>
                <div class="badge badge-danger">Sécurité Alimentaire</div>
            </div>
            <div class="card-body">
                <div class="card-title">Titre des questions</div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur dicta dolore dolorem eos et modi rem soluta tenetur. Ab adipisci atque beatae dolore minima nihil nisi obcaecati repellendus. Repellat.</p>
                <div class="text-muted">Dernier passage : {{ '-15 days'|date('d/m/Y') }}</div>
                <div>Résultat : 80 %</div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info w-100">Commencer le questionnaire</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="badge badge-success">Niveau 1</div>
                <div class="badge badge-danger">Sécurité Alimentaire</div>
            </div>
            <div class="card-body">
                <div class="card-title">Titre des questions</div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore necessitatibus quia ullam. Adipisci dicta dolores exercitationem facere magnam optio? Accusamus, illum magni molestiae molestias nam pariatur provident quae repudiandae.</p>
                <div class="text-muted">Dernier passage : {{ '-15 days'|date('d/m/Y') }}</div>
                <div>Résultat : 80 %</div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info w-100">Commencer le questionnaire</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="badge badge-success">Niveau 1</div>
                <div class="badge badge-danger">Sécurité Alimentaire</div>
            </div>
            <div class="card-body">
                <div class="card-title">Titre des questions</div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate et exercitationem modi nostrum odit porro, velit voluptas? Cupiditate distinctio ducimus ex harum incidunt ipsum laborum maiores molestias pariatur voluptatem.</p>
                <div class="text-muted">Dernier passage : {{ '-15 days'|date('d/m/Y') }}</div>
                <div>Résultat : 80 %</div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info w-100">Commencer le questionnaire</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="badge badge-success">Niveau 1</div>
                <div class="badge badge-danger">Sécurité Alimentaire</div>
            </div>
            <div class="card-body">
                <div class="card-title">Titre des questions</div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam assumenda at aut blanditiis commodi, exercitationem explicabo inventore iure mollitia provident, quis, reiciendis sed sint sit unde vitae voluptatum.</p>
                <div class="text-muted">Dernier passage : {{ '-15 days'|date('d/m/Y') }}</div>
                <div>Résultat : 80 %</div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info w-100">Commencer le questionnaire</div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="badge badge-success">Niveau 1</div>
                <div class="badge badge-danger">Sécurité Alimentaire</div>
            </div>
            <div class="card-body">
                <div class="card-title">Titre des questions</div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto aspernatur, doloribus eos eum eveniet excepturi itaque iusto modi natus nesciunt non possimus quae quam quasi voluptates voluptatum! Amet, tempora?</p>
                <div class="text-muted">Dernier passage : {{ '-15 days'|date('d/m/Y') }}</div>
                <div>Résultat : 80 %</div>
            </div>
            <div class="card-footer">
                <div class="btn btn-info w-100">Commencer le questionnaire</div>
            </div>
        </div>
    </div>
{% endblock %}
