{% extends 'baseMain.html.twig' %}

{% block title %}Ecrire à {{ mentor.firstName|capitalize }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('communication') }}
{% endblock %}

{% block content %}
{{ form_start(form)}}
    <h1>Vous écrivez à :</h1>
    <h3 class="text-center">{{ mentor.firstName|capitalize }}</h3>
    {{ form_row(form.content) }}
    <div class="d-flex justify-content-around">
        <a href="{{ path('app_communication') }}" class="btn btn-outline-secondary">Retour</a>
        <button class="btn btn-outline-success w-75">Envoyer</button>
    </div>
{{ form_end(form) }}
{% endblock %}
