{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
    <div class="limiter">
        <div class="container-dashboard">
            <div class="wrap-dashboard">

                <a href="#" title="Se déconnecter" class="btn-disconnect" data-toggle="modal" data-target="#modalDisconnect"><i class="fas fa-door-open"></i></a>

                <div class="dashboard-box">
                    <div class="dashboard-username">{{ app.user.firstName|capitalize }} {{ app.user.lastName|capitalize }}</div>

                    {% include('partiels/_messageFlashes.html.twig') %}


                    <div class="container-buttons">
                        <a href="{{ path('app_question') }}" class="btn-dashboard alert-primary">
                            <div class="btn-dashboard-icon"><i class="fas fa-question-circle"></i></div>
                            <div>Quizz</div>
                        </a>

                        <a href="{{ path('app_report') }}" class="btn-dashboard alert-secondary">
                            <div class="btn-dashboard-icon"><i class="far fa-edit"></i></div>
                            <div>Rapports</div>
                        </a>

                        <a href="{{ path('app_user_profile', {'slug': app.user.slug }) }}" class="btn-dashboard alert-info">
                            <div class="btn-dashboard-icon"><i class="fas fa-user"></i></div>
                            <div>Profil</div>
                        </a>

                        <a href="{{ path('app_lesson') }}" class="btn-dashboard alert-warning">
                            <div class="btn-dashboard-icon"><i class="fas fa-book"></i></div>
                            <div>Le&ccedil;ons</div>
                        </a>

                        <a href="{{ path('app_communication')}}" class="btn-dashboard alert-success">
                            <div class="btn-dashboard-icon"><i class="fas fa-comments"></i></div>
                            <div>Communication</div>
                        </a>

                        {% if is_granted('ROLE_TEACHER') %}
                            <a href="{{ path('app_teacher') }}" class="btn-dashboard alert-danger">
                                <div class="btn-dashboard-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                                <div>Mentor</div>
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_STORE') %}
                            <a href="{{ absolute_url('/admin') }}" class="my-3 mx-auto w-25 alert-danger d-flex alert justify-content-between">
                                <div><i class="fas fa-cogs"></i></div>
                                <div>Admin</div>
                            </a>
                        {% endif %}
                    </div>
                    <div></div>
                </div>
                <div class="dashboard-more"></div>
            </div>

        </div>
    </div>

    {% include('partiels/_modalDisconnect.html.twig') %}

{% endblock %}

