{% extends 'baseMain.html.twig' %}

{% block title %}Teacher{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('teacher') }}
{% endblock %}

{% block content %}

    {{ include('partiels/_messageFlashes.html.twig') }}

    <div class="container">
        <div class="row">
            <fieldset class="box-invitation">
                <legend>Invitation</legend>
                {{ form_start(formInvitation) }}
                    {{ form_widget(formInvitation.email) }}
                    <button class="btn btn-outline-dark" type="submit">Inviter</button>
                {{ form_end(formInvitation) }}
            </fieldset>
        </div>

        <div class="box-buttons">
            <a href="{{ path('teacher_list_users') }}" class="btn btn-outline-info">Afficher tout les étudiants</a>
            <a href="{{ path('teacher_list_reports') }}" class="btn btn-outline-info">Afficher tout les rapports</a>
            <a href="{{ path('teacher_quiz_index') }}" class="btn btn-outline-info">Liste des questionnaires</a>
            <a href="{{ path('teacher_list_results')}}" class="btn btn-outline-info">Afficher tout les résultats des questionnaires</a>
        </div>

        <div class="row">
            {{ include('teacher/partiels/_table_listStudents.html.twig') }}
            {{ include('teacher/partiels/_table_listMentors.html.twig') }}
        </div>
    </div>

{% endblock %}
