{{ form_start(form) }}
    {{ form_row(form.question) }}
    <div class="container-form">
        <div class="form-box bg-info font-weight-bold">
            {{ form_row(form.prop1) }}
        </div>
        <div class="form-box bg-danger font-weight-bold">
            {{ form_row(form.prop2) }}
        </div>
    </div>
    <div class="container-form">
        <div class="form-box">
            {{ form_row(form.prop3) }}
        </div>
        <div class="form-box">
            {{ form_row(form.prop4) }}
        </div>
    </div>
    <div class="container-form">
        <div class="form-box">
            {{ form_row(form.prop5)}}
        </div>
        <div class="form-box">
            {{ form_row(form.prop6)}}
        </div>
    </div>

    <div class="w-50 m-auto text-center">
        {{ form_row(form.level) }}
    </div>

    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
