<div class="tab-pane" id="profile">
    <fieldset class="text-center w-100">
        <legend>Mes données</legend>

        {% if mentor %}
            <p class="text-center">Mon mentor est {{ mentor.firstName|capitalize }} {{ mentor.lastName|capitalize }} du restaurant de Nogent le Rotrou</p>
        {% endif %}

        <div class="profile-form" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Prénom & Nom</span>
                </div>
                <div class="form-control">{{ app.user.firstName }}</div>
                <div class="form-control">{{ app.user.lastName }}</div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-email"><i class="fas fa-at"></i></span>
                    </div>
                    <div class="form-control">{{ app.user.email }}</div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-phone"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <div class="form-control">{{ app.user.phoneNumber }}</div>
                </div>
            </div>

            <p class="last-connection">Dernière mise à jour du compte : {{ app.user.updatedAt|date('d/m/Y') }}</p>

            <a href="{{ path('app_user_update', {'slug': app.user.slug}) }}" class="btn btn-outline-success w-75 mt-5">Modifier mes données</a>

        </div>
    </fieldset>
</div>
