{% extends 'baseMain.html.twig' %}

{% block title %}Lecons{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('lesson') }}
{% endblock %}

{% block content %}

    <div class="d-flex w-100 flex-wrap container-buttons-lessons">
        <a class="btn-category" href="{{ path('app_lesson_category', {'slug': 'food-safty'}) }}">
            <img src="{{ asset('assets/images/buttons/foodSafty.png') }}">
            <div>Sécurité Alimentaire - ({{ listFoodSafety|length }})</div>
        </a>
        <a class="btn-category" href="{{ path('app_lesson_category', {'slug': 'management'}) }}">
            <img src="{{ asset('assets/images/buttons/management.png') }}">
            <div>Gestion de quart  - ({{ listManagement|length }})</div>
        </a>
        <a class="btn-category" href="{{ path('app_lesson_category', {'slug': 'counter'}) }}">
            <img src="{{ asset('assets/images/buttons/counter.png') }}">
            <div>Comptoir  - ({{ listCounter|length }})</div>
        </a>
        <a class="btn-category" href="{{ path('app_lesson_category', {'slug': 'kitchen'}) }}">
            <img src="{{ asset('assets/images/buttons/kitchen.jpg') }}">
            <div>Cuisine  - ({{ listKitchen|length }})</div>
        </a>
        <a class="btn-category" href="{{ path('app_lesson_category', {'slug': 'administration'}) }}">
            <img src="{{ asset('assets/images/buttons/administation.jpg') }}">
            <div>Administration  - ({{ listAdministration|length }})</div>
        </a>
        <a class="btn-category" href="{{ path('app_lesson_category', {'slug': 'PEP'}) }}">
            <img src="{{ asset('assets/images/buttons/PEP.png') }}">
            <div>PEP  - ({{ listPEP|length }})</div>
        </a>
        <a class="btn-category" href="{{ path('app_lesson_category', {'slug': 'various'}) }}">
            <img src="{{ asset('assets/images/buttons/various.png') }}">
            <div>Divers  - ({{ listVarious|length }})</div>
        </a>
    </div>

{% endblock %}
