{% extends 'baseMain.html.twig' %}

{% block title %}Lecons{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('lesson') }}
{% endblock %}

{% block content %}

    <div class="d-flex w-100 flex-wrap">
        <button>
            <img src="{{ asset('assets/images/buttons/foodSafty.png') }}">
            <div>Sécurité Alimentaire - ({{ listFoodSafety|length }})</div>
        </button>
        <button>
            <img src="{{ asset('assets/images/buttons/management.png') }}">
            <div>Gestion de quart  - ({{ listManagement|length }})</div>
        </button>
        <button>
            <img src="{{ asset('assets/images/buttons/counter.png') }}">
            <div>Comptoir  - ({{ listCounter|length }})</div>
        </button>
        <button>
            <img src="{{ asset('assets/images/buttons/kitchen.jpg') }}">
            <div>Cuisine  - ({{ listKitchen|length }})</div>
        </button>
        <button>
            <img src="{{ asset('assets/images/buttons/administation.jpg') }}">
            <div>Administration  - ({{ listAdministration|length }})</div>
        </button>
        <button>
            <img src="{{ asset('assets/images/buttons/PEP.png') }}">
            <div>PEP  - ({{ listPEP|length }})</div>
        </button>
        <button>
            <img src="{{ asset('assets/images/buttons/various.png') }}">
            <div>Divers  - ({{ listVarious|length }})</div>
        </button>
    </div>

{% endblock %}
