{% extends 'baseMain.html.twig' %}

{% block title %}{{ slug }} - Lecons{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('lesson') }}
{% endblock %}

{% block content %}

    <div class="box-title">
        <a href="{{ path('app_lesson') }}" class="btn btn-outline-secondary d-flex flex-column justify-content-center">Retour</a>
        <h1>{{ title }}</h1>
    </div>

    <div class="list-group my-2">

        {% for item in list %}
            <div class="list-group-item list-group-item-action">
                {% if is_granted('EDIT', item) %}
                <a href="{{ path('teacher_lesson_update', {'id': item.id}) }}" class="icon-edit">
                    <img src="{{ asset('images/icons/edit.png') }}" alt="Edition de la le&ccedil;on" class="img-icon-edit">
                </a>
                {% endif %}

                <h5 class="mb-1">{{ item.title }}</h5>
                <p class="mb-1">{{ item.description|truncate(225, true) }}</p>
                <div class="d-flex w-100 justify-content-between">
                    {% if item.fileName  ends with 'FAKER.pdf'%}
                        <a href="{{ asset(item.fileName) }}">
                    {% else %}
                        <a href="{{ vich_uploader_asset(item, 'file') }}">
                    {% endif %}
                            <div class="{{ item.extension }} link-icon">Cliquer ici</div>
                        </a>

                    <small class="my-auto">{{ item.updatedAt|date('d/m/Y') }}</small>
                </div>
            </div>
        {% else %}
            <div>Aucun enregistrement actuellement</div>
        {% endfor %}

    </div>

{% endblock %}
