<div class="tab-pane active" id="administration">
    <div class="list-group">

        {% for administration in listAdministration %}
            <a href="{{ asset( administration.file ) }}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ administration.title }}</h5>
                <p class="mb-1">{{ administration.description|truncate(225, true) }}</p>
                <div class="d-flex w-100 justify-content-between">
                    {% if administration.file %}
                        <div class="{{ administration.extension }} link-icon"></div>
                    {% endif %}
                    <small class="my-auto">{{ administration.updatedAt|date('d/m/Y') }}</small>
                </div>
{#                FIXME: A retirer#}
                {{ dump(administration.category) }}
            </a>
        {% else %}
            <div>Aucun enregistrement actuellement</div>
        {% endfor %}

    </div>
</div>
