<div class="tab-pane active" id="counter">
    <div class="list-group">

        {% for counter in listCounter %}
            <a href="{{ asset( counter.file ) }}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ counter.title }}</h5>
                <p class="mb-1">{{ counter.description|truncate(225, true) }}</p>
                <div class="d-flex w-100 justify-content-between">
                    {% if counter.file %}
                        <div class="{{ counter.extension }} link-icon"></div>
                    {% endif %}
                    <small class="my-auto">{{ counter.updatedAt|date('d/m/Y') }}</small>
                </div>
{#                FIXME: A retirer#}
                {{ dump(counter.category) }}
            </a>
        {% else %}
            <div>Aucun enregistrement actuellement</div>
        {% endfor %}

    </div>
</div>
