<div class="tab-pane active" id="foodSafety">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">FCH</h5>
                <small>{{ ('now'|date('d/m/Y')) }}</small>
            </div>
            <p class="mb-1">{{ 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut blanditiis consequuntur, esse est ex itaque nam officia officiis optio quae repudiandae sint totam, ullam unde ut velit voluptate voluptatibus!'|truncate(140, true) }}</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Titre 1</h5>
                <small>{{ ('-1 year'|date('d/m/Y')) }}</small>
            </div>
            <p class="mb-1">{{ 'Quae dum ita struuntur, indicatum est apud Tyrum indumentum regale textum occulte, incertum quo locante vel cuius usibus apparatum. ideoque rector provinciae tunc pater Apollinaris eiusdem nominis ut conscius ductus est aliique congregati sunt ex diversis civitatibus multi, qui atrocium criminum ponderibus urgebantur.'|truncate(140, true) }}</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Titre 2</h5>
                <small>{{ ('-1 month'|date('d/m/Y')) }}</small>
            </div>
            <p class="mb-1">{{ 'Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.'|truncate(140, true) }}</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Titre 3</h5>
                <small>{{ ('-5 days'|date('d/m/Y')) }}</small>
            </div>
            <p class="mb-1">{{ 'Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet Graecis nominibus appellentur, quae isdem ad arbitrium inposita sunt conditoris, primigenia tamen nomina non amittunt, quae eis Assyria lingua institutores veteres indiderunt.'|truncate(140, true) }}</p>
        </a>
    </div>
</div>
