<div class="tab-pane active" id="foodSafety">
    <div class="list-group">

        {% for foodSafety in listFoodSafety %}
            <a href="{{ asset( foodSafety.file ) }}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ foodSafety.title }}</h5>
                <p class="mb-1">{{ foodSafety.description|truncate(225, true) }}</p>
                <div class="d-flex w-100 justify-content-between">
                    {% if foodSafety.file %}
                        <div class="{{ foodSafety.extension }} link-icon"></div>
                    {% endif %}
                    <small class="my-auto">{{ foodSafety.updatedAt|date('d/m/Y') }}</small>
                </div>
{#                FIXME: A retirer#}
                {{ dump(foodSafety.category) }}
            </a>
        {% else %}
            <div>Aucun enregistrement actuellement</div>
        {% endfor %}

    </div>
</div>
