<div class="tab-pane active" id="management">
    <div class="list-group">

        {% for management in listManagement %}
            <a href="{{ asset( management.file ) }}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ management.title }}</h5>
                <p class="mb-1">{{ management.description|truncate(225, true) }}</p>
                <div class="d-flex w-100 justify-content-between">
                    {% if management.file %}
                        <div class="{{ management.extension }} link-icon"></div>
                    {% endif %}
                    <small class="my-auto">{{ management.updatedAt|date('d/m/Y') }}</small>
                </div>
{#                FIXME: A retirer#}
                {{ dump(management.category) }}
            </a>
        {% else %}
            <div>Aucun enregistrement actuellement</div>
        {% endfor %}

    </div>
</div>
