<div class="tab-pane active" id="PEP">
    <div class="list-group">

        {% for PEP in listPEP %}
            <a href="{{ asset( PEP.file ) }}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ PEP.title }}</h5>
                <p class="mb-1">{{ PEP.description|truncate(225, true) }}</p>
                <div class="d-flex w-100 justify-content-between">
                    {% if PEP.file %}
                        <div class="{{ PEP.extension }} link-icon"></div>
                    {% endif %}
                    <small class="my-auto">{{ PEP.updatedAt|date('d/m/Y') }}</small>
                </div>
{#                FIXME: A retirer#}
                {{ dump(PEP.category) }}
            </a>
        {% else %}
            <div>Aucun enregistrement actuellement</div>
        {% endfor %}

    </div>
</div>
