{% extends 'baseMain.html.twig' %}

{% block title %}Liste des rapports{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('report') }}
{% endblock %}

{% block content %}
    {{ include('partiels/_messageFlashes.html.twig') }}

    {% if teacher is not defined %}
    <div class="text-right my-3">
        <a href="{{ path('app_report_new')}}" class="btn btn-outline-primary"><i class="fas fa-plus-circle mr-2"></i>Ajouter un rapport</a>
    </div>
        {% else %}
            <a href="{{ path('app_teacher')}}" class="btn btn-outline-secondary btn-back">Retour</a>
    {% endif %}

    {{ include('report/partiels/_table.html.twig') }}

{% endblock %}
