{% extends 'baseMain.html.twig' %}

{% block title %}Création d'un rapport{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('report') }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row justify-content-between">
            <fieldset class="working-time-box">
                <legend>Informations des horaires</legend>
                <div class="d-flex justify-content-between">
                    {{ form_row(form.dateAt) }}
                    {{ form_row(form.rushOf) }}
                </div>
                {{ form_row(form.manager) }}
                <div>
                    <em>De</em>
                    {{ form_widget(form.startAt) }}
                    <em>à</em>
                    {{ form_widget(form.stopAt) }}
                </div>
            </fieldset>

            <fieldset class="working-zone-box">
                <legend>Informations du positionnement</legend>
                <div class="d-flex justify-content-between">
                    {{ form_row(form.zone) }}
                    {{ form_row(form.position) }}
                </div>
                {{ form_row(form.isResponsible) }}
                <div class="d-flex justify-content-around">
                    Ressenti du rush :
                    {{ form_row(form.feelRush) }}
                    <div class="value"></div>
                </div>
            </fieldset>

            <fieldset class="w-100">
                <legend>Objectifs / Commentaires</legend>
                <div class="d-flex justify-content-between">
                    <div class="w-100">{{ form_row(form.goals) }}</div>
                    <div class="w-100">{{ form_row(form.studentComments) }}</div>
                </div>
            </fieldset>

            <div class="d-flex justify-content-between w-100 m-2">
                <button class="btn btn-outline-warning" type="reset" title="Reset - Tout effacer"><i class="fas fa-redo"></i></button>
                <a class="btn btn-outline-secondary" href="{{ path('app_report') }}" title="Retour à la liste des rapports">Retour</a>
                <button class="btn btn-outline-success w-75" type="submit" title="Valider le rapport">Enregistrer</button>
            </div>

        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('report') }}
{% endblock %}
